/*Add styles for the main content*/
/*Add styles for the footer*/
footer {
  background-color: #676f54;
  color: #fff;
  padding: 1em 0;
  text-align: center;
  width: 100%;
  /* Extend the width of the footer to the full width of the window */
  position: fixed;
  /* Make the footer fixed to the bottom of the page */
  bottom: 0;
  /* Position the footer at the bottom of the page */
  left: 0;
  /* Position the footer at the left of the page */
}

.download {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25vh;
  height: 10vh;
}

.button {
  background-color: #79b4a9;
  border-radius: 50px;
  padding: 5%;
  box-shadow: 5px 10px #555555;
}

@media (max-width: 800px) {
  footer a {
    color: #fff;
    margin-right: 1em;
    font-size: small;
  }

  .button a {
    font-size: small;
  }

  .center {
    display: flex;
    align-items: center;
    /* Center the content vertically */
    justify-content: center;
    /* Center the content horizontally */
    min-height: calc(100vh);
  }

  .text-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: medium;
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 10%;
    padding-top: 10%;
  }

  body {
    background-image: url(../images/vertical-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d7f2ba;
    font-family: "Autour One", sans-serif;
  }

  .content {
    padding-bottom: 20%;
  }

  .container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .screenshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vh;
    height: 70vh;
    padding-bottom: 15%;
  }

  .download-appstore {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22vh;
    height: 10vh;
  }
}

@media (min-width: 800px) {
  footer a {
    color: #fff;
    margin-right: 1em;
    font-size: large;
  }

  .center {
    display: flex;
    align-items: center;
    /* Center the content vertically */
    justify-content: center;
    /* Center the content horizontally */
    min-height: calc(100vh);
    /* Min height is the height of the viewport minus the height of the footer */
    width: 60%;
    padding-bottom: 5%;
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 5%;
  }

  body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d7f2ba;
    font-family: "Autour One", sans-serif;
  }

  .content {
    font-size: x-large;
    /* Set the background color of the page */
    display: flex;
    align-items: center;
    /* Center the content vertically */
    justify-content: center;
    /* Center the content horizontally */
  }

  .container {
    justify-content: center;
  }

  .screenshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
    height: 60vh;
    padding-left: 5%;
    padding-right: 5%;
  }

  .download-appstore {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20.5vh;
    height: 10vh;
  }
}
